
.frghffsfb-2-icon {
	position: absolute;
	top: 174px;
	left: -177px;
	width: 1628px;
	height: 1586px;
	object-fit: cover;
}
.hero-page-child {
	position: absolute;
	top: 877px;
	left: 998px;
	border-radius: 150px;
	background-color: #ffc225;
	width: 311px;
	height: 60px;
}
.learn-more {
	position: absolute;
	top: 877px;
	left: 1014px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 276px;
	height: 60px;
	cursor: pointer;
}
.innovation-in-soap {
	position: absolute;
	top: 668px;
	left: 996px;
	font-size: 50px;
	font-family: Chivo;
	color: #5d5d5d;
	text-align: left;
	display: inline-block;
	width: 804px;
	height: 180px;
}
.automated-soap-molding {
	position: absolute;
	top: 289px;
	left: 997px;
	font-size: 100px;
	font-weight: 900;
	color: #0c1e2d;
	text-align: left;
	display: inline-block;
	width: 837px;
	height: 362px;
}
.header-child {
	position: absolute;
	top: 0px;
	left: 10px;
	background-color: #f2faff;
	width: 1920px;
	height: 185px;
}
.header-item {
	position: absolute;
	top: 34px;
	left: 83px;
	width: 529px;
	height: 140px;
	object-fit: cover;
}
.header-inner {
	position: absolute;
	top: 181.5px;
	left: -3.5px;
	border-top: 7px solid #ffc225;
	box-sizing: border-box;
	width: 1927px;
	height: 7px;
}
.designers {
	position: absolute;
	top: 59px;
	left: 1700px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 207px;
	height: 60px;
	cursor: pointer;
}
.manual {
	position: absolute;
	top: 59px;
	left: 1582px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 60px;
	cursor: pointer;
}
.features {
	position: absolute;
	top: 59px;
	left: 1451px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 165px;
	height: 60px;
	cursor: pointer;
}
.about {
	position: absolute;
	top: 59px;
	left: 1351px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 60px;
	cursor: pointer;
}





.home {
	position: absolute;
	top: 59px;
	left: 1265px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 115px;
	height: 60px;
	cursor: pointer;
}
.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1930px;
	height: 185px;
	font-size: 25px;
}
.hero-page {
	position: absolute;
	top: 0px;
	left: 0px;
	background: linear-gradient(180deg, #fff, #999);
	width: 1920px;
	height: 1678px;
	overflow: hidden;
	text-align: center;
}
.animation-final-machine-1 {
	position: absolute;
	top: 245px;
	left: 0px;
	width: 1920px;
	height: 1045.9px;
}
.about2 {
	position: absolute;
	top: 1406px;
	left: 213px;
	font-size: 100px;
	font-weight: 900;
	color: #0c1e2d;
	text-align: left;
	display: inline-block;
	width: 416px;
	height: 120px;
}
.frghffsfb-2-icon1 {
	position: absolute;
	top: 3695px;
	left: 10px;
	width: 441px;
	height: 411px;
	object-fit: cover;
}
.icon {
	position: absolute;
	top: 3696px;
	left: 491px;
	width: 440px;
	height: 411px;
	object-fit: cover;
}
.icon1 {
	position: absolute;
	top: 3696px;
	left: 971px;
	width: 465px;
	height: 411px;
	object-fit: cover;
}
.icon2 {
	position: absolute;
	top: 3695px;
	left: 1478.27px;
	width: 441.7px;
	height: 411.2px;
	object-fit: cover;
}
.about-child {
	position: absolute;
	top: 3392px;
	left: 214px;
	border-radius: 200px;
	background-color: #ffc225;
	width: 1492px;
	height: 188px;
}
.about-item {
	position: absolute;
	top: 4123px;
	left: 39px;
	border-radius: 200px;
	background-color: #ffc225;
	width: 384px;
	height: 75px;
}
.about-inner {
	position: absolute;
	top: 4123px;
	left: 519px;
	border-radius: 200px;
	background-color: #ffc225;
	width: 384px;
	height: 75px;
}

.rectangleni {
	position: absolute;
	top: 4123px;
	left: 0px;
	border-radius: 200px;
	background-color: #ffc225;
	width: 300px;
	height: 75px;
}

.animationni {
	position: absolute;
	top: 240px;
	left: 0px;
	width: 1920px;
	height: 1045.9px;
}

.rectangle-div {
	position: absolute;
	top: 4123px;
	left: 1012px;
	border-radius: 200px;
	background-color: #ffc225;
	width: 384px;
	height: 75px;
}
.about-child1 {
	position: absolute;
	top: 4123px;
	left: 1514px;
	border-radius: 200px;
	background-color: #ffc225;
	width: 384px;
	height: 75px;
}
.exploded-view {
	position: absolute;
	top: 3431px;
	left: 556px;
	font-size: 100px;
	font-weight: 500;
	text-align: left;
}
.exploded-view1 {
	position: absolute;
	top: 4136px;
	left: 65px;
	font-weight: 500;
}
.exploded-view2 {
	position: absolute;
	top: 4136px;
	left: 587px;
	font-weight: 500;
}
.exploded-view3 {
	position: absolute;
	top: 4136px;
	left: 1103px;
	font-weight: 500;
}
.exploded-view4 {
	position: absolute;
	top: 4136px;
	left: 1609px;
	font-weight: 500;
}
.innovation-in-soap1 {
	position: absolute;
	top: 1526px;
	left: 227px;
	font-size: 50px;
	font-family: Chivo;
	color: #5d5d5d;
	text-align: justify;
	display: inline-block;
	width: 1479px;
	height: 420px;
}
.frghffsfb-3-icon {
	position: absolute;
	top: 2181px;
	left: 213px;
	width: 1493px;
	height: 1162px;
	object-fit: cover;
}
.about1 {
	position: absolute;
	top: 1678px;
	left: 0px;
	background: linear-gradient(180deg, #fff 29.6%, #999);
	width: 1920px;
	height: 4285px;
	overflow-y: auto;
	text-align: center;
}
.quality-control {
	margin: 0;
}
.quality-control-monitoring-container {
	position: absolute;
	top: 80.3px;
	left: 352.89px;
	display: inline-block;
	width: 562.3px;
	height: 258.3px;
}
.quality-child {
	position: absolute;
	top: 70.91px;
	left: 55.41px;
	background-color: #ffc225;
	width: 272.6px;
	height: 252.9px;
}
.quality-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 383.4px;
	height: 394.9px;
	object-fit: cover;
}
.quality {
	position: absolute;
	top: 2483.46px;
	left: 93px;
	width: 915.2px;
	height: 394.9px;
}
.safety-features-built-in-container {
	position: absolute;
	top: 92.51px;
	left: 343.26px;
	display: inline-block;
	width: 562.3px;
	height: 258.3px;
}
.safety-child {
	position: absolute;
	top: 59.17px;
	left: 45.78px;
	background-color: #ffc225;
	width: 272.6px;
	height: 252.9px;
}
.safety-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 364.4px;
	height: 371.2px;
	object-fit: cover;
}
.safety {
	position: absolute;
	top: 2819.21px;
	left: 102.63px;
	width: 905.6px;
	height: 371.2px;
}
.maintenance-easy-to-container {
	position: absolute;
	top: 80.3px;
	left: 343.26px;
	display: inline-block;
	width: 562.3px;
	height: 258.3px;
}
.maintenance-child {
	position: absolute;
	top: 58.7px;
	left: 45.78px;
	background-color: #ffc225;
	width: 272.6px;
	height: 252.9px;
}
.maintenance-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 364.4px;
	height: 370.5px;
	object-fit: cover;
}
.maintenance {
	position: absolute;
	top: 3179.37px;
	left: 102.63px;
	width: 905.6px;
	height: 370.5px;
}
.high-production-capacity-container {
	position: absolute;
	top: 100.02px;
	left: 325.18px;
	display: inline-block;
	width: 562.3px;
	height: 258.3px;
}
.production-child {
	position: absolute;
	top: 90.63px;
	left: 36.16px;
	background-color: #ffc225;
	width: 272.6px;
	height: 252.9px;
}
.production-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 367.4px;
	height: 434.4px;
	object-fit: cover;
}
.production {
	position: absolute;
	top: 2124px;
	left: 953.5px;
	width: 887.5px;
	height: 434.4px;
}
.easy-operation-user-friendly-container {
	position: absolute;
	top: 80.3px;
	left: 327.3px;
	display: inline-block;
	width: 562.3px;
	height: 258.3px;
}
.easy-child {
	position: absolute;
	top: 70.91px;
	left: 38.27px;
	background-color: #ffc225;
	width: 272.6px;
	height: 252.9px;
}
.easy-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 349.1px;
	height: 394.9px;
	object-fit: cover;
}
.easy {
	position: absolute;
	top: 2483.46px;
	left: 951.38px;
	width: 889.6px;
	height: 394.9px;
}
.efficiency-energy-efficient-d-container {
	position: absolute;
	top: 80.3px;
	left: 321.19px;
	display: inline-block;
	width: 562.3px;
	height: 258.3px;
}
.efficiency-child {
	position: absolute;
	top: 59.17px;
	left: 32.17px;
	background-color: #ffc225;
	width: 272.6px;
	height: 252.9px;
}
.efficiency-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 346.1px;
	height: 371.2px;
	object-fit: cover;
}
.efficiency {
	position: absolute;
	top: 2831.42px;
	left: 957.49px;
	width: 883.5px;
	height: 371.2px;
}
.machine-molding-the-container {
	position: absolute;
	top: 94.15px;
	left: 353.13px;
	display: inline-block;
	width: 562.3px;
	height: 258.3px;
}
.molding-child {
	position: absolute;
	top: 76.54px;
	left: 55.41px;
	background-color: #ffc225;
	width: 272.6px;
	height: 252.9px;
}
.molding-item {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 383.4px;
	height: 406.2px;
	object-fit: cover;
	transform:  rotate(-180deg);
}
.molding {
	position: absolute;
	top: 2138.09px;
	left: 93px;
	width: 915.4px;
	height: 406.2px;
	transform:  rotate(360deg);
	transform-origin: 0;
}
.blank-line7 {
	margin: 0;
	font-size: 12px;
}
.a-machine-interface {
	margin: 0;
	font-size: 25px;
}
.machine-interface-a-container {
	position: absolute;
	top: 437px;
	left: 58.99px;
	display: inline-block;
	width: 562px;
	height: 249px;
}
.interface-child {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 679.5px;
	height: 437.3px;
	object-fit: cover;
}
.interface-item {
	position: absolute;
	top: -3px;
	left: -3px;
	background-color: rgba(217, 217, 217, 0);
	border: 3px solid #000;
	box-sizing: border-box;
	width: 685.5px;
	height: 691.7px;
}
.interface {
	position: absolute;
	top: 526px;
	left: 218.01px;
	width: 679.5px;
	height: 686px;
	text-align: center;
}
.molder-molders-are-container {
	position: absolute;
	top: 449px;
	left: 57.93px;
	display: inline-block;
	width: 562px;
	height: 249px;
}
.molder-child {
	position: absolute;
	top: 0px;
	left: 2.43px;
	width: 679.5px;
	height: 437.3px;
	object-fit: cover;
}
.molder-item {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(217, 217, 217, 0);
	border: 3px solid #000;
	box-sizing: border-box;
	width: 685.5px;
	height: 691.7px;
}
.molder1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 681.9px;
	height: 698px;
}
.molder {
	position: absolute;
	top: 526px;
	left: 1021.07px;
	width: 681.9px;
	height: 698px;
	text-align: center;
}
.ejector-an-ejector-container {
	position: absolute;
	top: 437.4px;
	left: 60px;
	display: inline-block;
	width: 562px;
	height: 249px;
}
.ejector1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 679.5px;
	height: 686.4px;
}
.ejector {
	position: absolute;
	top: 1286.6px;
	left: 218px;
	width: 679.5px;
	height: 686.4px;
	text-align: center;
}
.limit-switch-a-container {
	position: absolute;
	top: 437.68px;
	left: 57.87px;
	display: inline-block;
	width: 562px;
	height: 249px;
}
.limit-switch-item {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(217, 217, 217, 0);
	border: 3px solid #000;
	box-sizing: border-box;
	width: 685.1px;
	height: 691.7px;
}
.limit-switch1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 679.5px;
	height: 686.7px;
}
.limit-switch {
	position: absolute;
	top: 1286.32px;
	left: 1021.13px;
	width: 679.5px;
	height: 686.7px;
	text-align: center;
}
.features2 {
	position: absolute;
	top: 243px;
	left: 503px;
	font-size: 150px;
	font-weight: 900;
	font-family: Inter;
	color: #0c1e2d;
	text-align: center;
	display: inline-block;
	width: 916px;
	height: 181px;
}
.features1 {
	position: absolute;
	top: 5963px;
	left: 0px;
	background: linear-gradient(180deg, #fff 2.1%, #999);
	width: 1920px;
	height: 3656px;
	overflow-y: auto;
	font-family: Chivo;
}
.designers2 {
	position: absolute;
	top: 312px;
	left: 0px;
	font-size: 140px;
	font-weight: 900;
	font-family: Inter;
	color: #0c1e2d;
	text-align: center;
	display: inline-block;
	width: 1920px;
	height: 472px;
}
.designers-child {
	position: absolute;
	top: 759px;
	left: 0px;
	background-color: #ffc225;
	width: 1920px;
	height: 368px;
}
.designers-item {
	position: absolute;
	top: 1423px;
	left: 0px;
	background-color: #ffc225;
	width: 1918px;
	height: 365px;
}
.designers-inner {
	position: absolute;
	top: 2084px;
	left: 0px;
	background-color: #ffc225;
	width: 1918px;
	height: 366px;
}
.designers-child1 {
	position: absolute;
	top: 2746px;
	left: 2px;
	background-color: #ffc225;
	width: 1918px;
	height: 367px;
}
.designers-child2 {
	position: absolute;
	top: 3408px;
	left: 2px;
	background-color: #ffc225;
	width: 1918px;
	height: 367px;
}
.div {
	position: absolute;
	top: 938px;
	left: 672px;
	display: inline-block;
	width: 1248px;
	height: 128px;
}
.div1 {
	position: absolute;
	top: 1600px;
	left: 670px;
	display: inline-block;
	width: 1248px;
	height: 128px;
}
.div2 {
	position: absolute;
	top: 2262px;
	left: 668px;
	display: inline-block;
	width: 1248px;
	height: 128px;
}
.div3 {
	position: absolute;
	top: 2924px;
	left: 672px;
	display: inline-block;
	width: 1248px;
	height: 128px;
}
.div4 {
	position: absolute;
	top: 3586px;
	left: 672px;
	display: inline-block;
	width: 1248px;
	height: 128px;
}
.maryrose-bensi {
	position: absolute;
	top: 806px;
	left: 672px;
	font-size: 80px;
	text-transform: uppercase;
	display: inline-block;
	width: 1246px;
	height: 95px;
}
.stephen-angelo-bongcawel {
	position: absolute;
	top: 1468px;
	left: 670px;
	font-size: 80px;
	text-transform: uppercase;
	display: inline-block;
	width: 1246px;
	height: 95px;
}
.kenny-dhave-caedo {
	position: absolute;
	top: 2130px;
	left: 668px;
	font-size: 80px;
	text-transform: uppercase;
	display: inline-block;
	width: 1246px;
	height: 95px;
}
.klee-ann-carlubos {
	position: absolute;
	top: 2792px;
	left: 672px;
	font-size: 80px;
	text-transform: uppercase;
	display: inline-block;
	width: 1246px;
	height: 95px;
}
.ken-dela-calzada {
	position: absolute;
	top: 3454px;
	left: 672px;
	font-size: 80px;
	text-transform: uppercase;
	display: inline-block;
	width: 1246px;
	height: 95px;
}
.bensimaryrose8gmailcom {
	position: absolute;
	top: 983px;
	left: 672px;
	color: inherit;
	display: inline-block;
	width: 1248px;
	height: 166px;
	text-decoration: none;
}
.gmailcom {
	color: inherit;
}
.stanbongcawel1201gmailcom {
	position: absolute;
	top: 1645px;
	left: 670px;
	display: inline-block;
	width: 1248px;
	height: 166px;
}
.kennydhavecareygmailcom {
	position: absolute;
	top: 2307px;
	left: 668px;
	text-decoration: underline;
	color: inherit;
	display: inline-block;
	width: 1248px;
	height: 166px;
}
.kleeanncarlubosgmailcom {
	position: absolute;
	top: 2969px;
	left: 672px;
	text-decoration: underline;
	color: inherit;
	display: inline-block;
	width: 1248px;
	height: 166px;
}
.delacalzadakengmailcom {
	position: absolute;
	top: 3631px;
	left: 672px;
	text-decoration: underline;
	color: inherit;
	display: inline-block;
	width: 1248px;
	height: 166px;
}
.ellipse-icon {
	position: absolute;
	top: 548px;
	left: 84px;
	border-radius: 50%;
	width: 516px;
	height: 516px;
	object-fit: cover;
}
.designers-child3 {
	position: absolute;
	top: 1211px;
	left: 84px;
	border-radius: 50%;
	width: 516px;
	height: 515px;
	object-fit: cover;
}
.designers-child4 {
	position: absolute;
	top: 1873px;
	left: 84px;
	border-radius: 50%;
	width: 516px;
	height: 515px;
	object-fit: cover;
}
.designers-child5 {
	position: absolute;
	top: 2535px;
	left: 86px;
	border-radius: 50%;
	width: 516px;
	height: 515px;
	object-fit: cover;
}
.designers-child6 {
	position: absolute;
	top: 3197px;
	left: 86px;
	border-radius: 50%;
	width: 516px;
	height: 515px;
	object-fit: cover;
}
.footer-child {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #5d5d5d;
	width: 2426px;
	height: 236px;
}
.footer-item {
	position: absolute;
	top: 0px;
	left: 592px;
	width: 550px;
	height: 264px;
	object-fit: cover;
}
.mj-cuenco-cebu {
	position: absolute;
	top: 127px;
	left: 1702px;
	font-size: 32px;
	display: inline-block;
	width: 682px;
	height: 89px;
}
.div5 {
	position: absolute;
	top: 82.12px;
	left: 1700px;
	display: inline-block;
	width: 275px;
	height: 36px;
}
.marketingmoldupph {
	position: absolute;
	top: 81.54px;
	left: 2026px;
	display: inline-block;
	width: 332.6px;
	height: 29.8px;
	transform:  rotate(-0.1deg);
	transform-origin: 0 0;
}
.footer {
	position: absolute;
	top: 3925px;
	left: -506px;
	width: 2426px;
	height: 264px;
	font-size: 30px;
	color: #fff;
	font-family: Inter;
}
.designers1 {
	position: absolute;
	top: 13541px;
	left: 0px;
	background: linear-gradient(180deg, #fff 39.5%, #999);
	width: 1920px;
	height: 4161px;
	overflow: hidden;
	font-size: 60px;
	color: #5d5d5d;
	font-family: Chivo;
}
.manual-child {
	position: absolute;
	top: 2785px;
	left: 94px;
	border-radius: 139px;
	width: 1722px;
	height: 1016px;
}
.user-safety {
	position: absolute;
	top: 1300px;
	left: 151px;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-block;
	width: 1106px;
	height: 181px;
}
.manual2 {
	position: absolute;
	top: 154px;
	left: 986px;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-block;
	width: 814px;
	height: 181px;
}
.machine-safety {
	position: absolute;
	top: 1961px;
	left: 151px;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-block;
	width: 1411px;
	height: 181px;
}
.operating-guide {
	position: absolute;
	top: 2858px;
	left: 197px;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-block;
	width: 1528px;
	height: 181px;
}
.automated-soap-molding1 {
	position: absolute;
	top: 352px;
	left: 986px;
	font-size: 30px;
	font-family: Chivo;
	color: #5d5d5d;
	text-align: justify;
	display: inline-block;
	width: 814px;
	height: 528px;
}
.perform-repairs-with-container {
	position: absolute;
	top: 1536px;
	left: 151px;
	font-size: 40px;
	font-weight: 300;
	color: #000;
	display: inline-block;
	width: 1619px;
	height: 287px;
}
.ensuring-that-moving {
	margin-bottom: 0px;
}
.ensuring-that-moving-parts-are {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	padding-left: 53px;
}
.ensuring-that-moving-container {
	position: absolute;
	top: 2158px;
	left: 151px;
	font-size: 40px;
	font-weight: 300;
	color: #000;
	text-align: justify;
	display: inline-block;
	width: 1608px;
	height: 575px;
}
.plug-the-power {
	margin: 0;
	font-weight: 300;
}
.power-on-plug-container {
	position: absolute;
	top: 3068px;
	left: 194px;
	font-size: 40px;
	color: #000;
	text-align: justify;
	display: inline-block;
	width: 1485px;
	height: 623px;
}


.orthooo-2-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1010px;
	height: 780px;
	object-fit: cover;	
}
.manual1 {
	position: absolute;
	top: 9619px;
	left: 0px;
	background: linear-gradient(180deg, #999, #fff 52.6%);
	width: 1920px;
	height: 3955px;
	overflow-y: auto;
	font-size: 150px;
	color: #0c1e2d;
}
.hero-page-parent {
	width: 100%;
	position: relative;
	height: 17730px;
	overflow: hidden;
	text-align: left;
	font-size: 40px;
	color: #000;
	font-family: Inter;
}


body {
	margin: 0;
	line-height: normal;
}

